/* navbar starts */
body{
  font-family: 'Roboto-Medium' , Helvetica , 'Times New Roman', Times, serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }

/* navbar starts */
.top_navbar{
  margin-top: 15px;
  margin-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
}
.navbar_icon { 
 background: #3A7B9B;
 color: white;
 padding: 10px;
 border-radius: 50%;
 display: inline-block;
 margin-left: 10px;
 cursor: pointer;
}
.navbar_icon:hover{
  color: white;
  background-color: #045279;
}

#phone_number{
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: inline;
margin-left: 25px;
}

#mail {
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: inline;
margin-left: 25px;
}
#uniser{
  display: inline;
  margin-left: 50px;
}
#search {
  margin-left: 110px;
  border: 1px solid #C6E2EB;
  border-radius: 24px;
  padding: 4px 12px;
  width: 190px;
  height: 48px;
  display: inline;
}
#language{
  display: inline;
  margin-left: 40px ;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.language-angle-down{
cursor: pointer;
}

#daxil_ol{
  display: inline;
  margin-left:45px;
  cursor: pointer;
}
.fa-user{
margin-left: 10px ;
background: #DCEEF3;
color: white;
padding: 15px;
border-radius: 50%;
}

.navbar {
  color: #222222;
  font-family: 'Helvetica Neue';
  font-style: normal;
  margin-top: 25px;
  margin-left: 30px;
}
.navbar_item{
  margin-left: 35px;
  display: inline-block;
  cursor: pointer;
}
#ana_sehife{
  margin-left: 40px;
  display: inline-block;
  font-weight: 900;
}

.navbar_item > a {
text-decoration: none;
}
.navbar_item {
transition: 0.3s;
}

.navbar_item .sub-menu{
border-radius: 16px;
position: absolute;
background:white;
font-weight: 400;
font-size: 16px;
top: 74px;
line-height: 40px;
list-style: none;
pointer-events: none;
transform: translateY(20px);
margin-top: 83px;
margin-left: -10px;
padding: 0px;
opacity: 0;
}
.navbar_item:hover .sub-menu{
pointer-events: all;
transform: translateY(0);
opacity: 1;
transition: 0.4s;
}
.navbar_item .sub-menu .sub-item {
position: relative;
padding:7px 0;

} 
.navbar_item .sub-menu .sub-item a{
text-decoration: none;
padding: 15px 30px;
}
.navbar_item .sub-menu .sub-item:hover{
background: #4080ef;
}
.navbar_item .sub-menu .sub-item:last-child:hover{
border-radius: 0 0 8px 8px;
}
.fa-angle-down{
margin-left: 10px;
opacity: 50%;
}
/* #imtahan-btn {
  color: #222222;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 16px;
  border: none;
  background-color: #fff;
  cursor: pointer;

  }
  #imtahan-btn:focus {
  border: none;
  outline: none;
  background: #4080ef;
  padding: 0px;
  text-decoration: none;
  padding: 15px 30px;
  }
  #imtahan-btn:focus .more-menu{
    opacity: 1;
  } */

.fa-angle-right{
margin-left: 25px;
opacity: 50%;
}
.more .more-menu{
background:#fff;
position: absolute;
list-style: none;
top: 0 ;
left: 100%;
white-space: nowrap;
overflow: hidden;
pointer-events: none;
transform: translateY(20px);
opacity: 0;
transition: 0.3s;
transition-property: transform, opacity;
padding: 0px;
border-radius: 16px;
}

.more:hover .more-menu{
pointer-events: all;
transform: translateY(0);
opacity: 1;
}
.more .more-menu .more-item{
padding: 0px;
}
.more .more-menu .more-item:hover{
background: #4080ef;

}
/* navbar ends */


#uniser_2{
  z-index: -5;
  max-width: 1440px;
  min-width: 500px;
  margin-top: 30px;
  position: relative;
}
#uniser2{
  margin-left: -9px;
  cursor: pointer;
    width: 101.3%;
    height: auto;
    position: relative;
}
#outer-circle {
    background: #385a94;
    border-radius: 50%;
    height:80px;
    width: 80px;
    position: relative;
    margin-left: 1210px;
    margin-top: -95px;
  }
  #inner-circle {
    position: relative;
    background: #2F89B6 ;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-left: 1218px;
    margin-top: -72px;
    align-items: center;
    text-align: center;
  }
  .fa-message {
    cursor: pointer ;
    color: #D9D9D9;
  }
/* elaqe starts */
.elaqe {
  background-image: url("./img/Group\ 1249.png");
  margin-top: 100px;
  width: 95%;
  margin-left: 75px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto' , 'Times New Roman', Times, serif;
}
.elaqe1{
  display: flex;
  flex-direction: column;
}
#uniser3{
  margin-left: 50px;
}
#elaqe_header{
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px;

}
.elaqe_icon{
  color: #2F89B6;
  margin-right: 20px;
}
.elaqe_icon1{
  margin-top: 25px;
  font-size: 14px;
}
.elaqe_icon2{
  margin-top: 25px;
  margin-left: 15px;
}
.map{
  position: absolute;
  margin-top: -250px;
  margin-left: 310px;
}
#map_left{
  margin-left: 220px;
  display: inline-block;
  position: relative;
  border-radius: 35%;
  height: 200px;
  width: 400px;
  border: 2px solid #2F89B6;
}
 /* elaqe ends */

    /* footer starts */
  #hr_bottom{
    margin-top: 100px;
  }
  .copy1{
font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
display: flex;
flex-direction: row;
justify-content: space-between;
  }
 
   /* footer ends */

   /* Responsive Navbar starts */

   .responsive_nav {
    display: none;
  }

   @media only screen and (max-width: 1000px) {

     .navbar_full{
      display: none;
    }
    
    .responsive_nav {
      display: flex;
      flex-direction: column;
    }
    #daxil_ol_language{
      margin-left: 50px;
    }
    #ana_sehife{
      margin-top: 45px;
    }
    .fa-bars {
      cursor: pointer;
      border: 1px solid orange;
      background-color: orange;
      border-radius: 20%;
      padding: 15px;
    }
    .responsive_nav_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    } 
    .responsive_navbar{
      justify-content: center;
      text-align: center;
      transition: 3s;
    }
    .navbar_item{
      cursor: pointer;
      display: block;
      margin-top: 20px;
    }
    .responsive_navbar{
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    #toggle.active.responsive_navbar{
      opacity: 1;
      pointer-events: all;
    }
    #inner-circle {
      margin-left: 320px;
    }
    #outer-circle{
      margin-left: 312px;
    }
    /* responsive navbar ends */

    .fa-message {
      cursor: pointer ;
      color: #D9D9D9;
    }

    /* elaqe ends */

    .elaqe{
      background-image: none;
      width: 100%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
    }
    .elaqe1{
      width: 100%;
    }
    .elaqe2 {
      width: 100%;
    }
    #map_left{
      display: none;
    }
    .map{
      margin:0px;
      margin-top: 25px;
      margin-left: -70px;
    }
    /* elaqe ends */

    /* footer starts  */

    .footer {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }
    #hr_bottom{
      margin-top: 500px;
    }


   .responsive_navbar{
    display: none;
   }

   .showHide{
    display: block;
  }
  
 }

   